## 回测结论 (Backtest Conclusion)

- Backtest: [[{{ backtest_target }}|{{ backtest_date }}]]
- Predictive classification: `{{ classification }}`
- IC: `{{ '%.10g' | format(ic) }}`
- ICIR: `{{ '%.10g' | format(icir) }}`
- Portfolio direction: `{{ direction }}`
- Acceptability: `{{ acceptability }}`
